.brand {
    top: 107px;
    left: 140px;
    width: 507px;
    height: 63px;
    font: Niveau Grotesk, normal bold 52px/63px American Typewriter;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 52px/63px American Typewriter;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.yellow-icon {
    top: 98px;
    left: 116px;
    width: 193px;
    height: 82px;
    background: #FFBA0080 0% 0% no-repeat padding-box;
    opacity: 1;
}