.summary-caption {
    position: absolute;
    width: 1080px;
    top: 150px;
    left: 140px;
    /* width: fit-content;
    height: fit-content; */
}

.summary {
    position: absolute;
    top: 350px;
    width: 1080px;
    left: 140px;
}

.conclusion {
    position: absolute;
    top: 4500px;
    left: 140px;
    width: 1080px;
    height: 511px;
}

.title {
    padding-top: 20px;
    left: 140px;
    width: 507px;
    height: 63px;
}

.navbar {
    position: absolute;
    top: 30px;
    left: 580px;
    width: auto;
    height: 68px;
}

.signout-btn {
    position: absolute;
    top: 27px;
    left: 1180px;
    width: 128px;
    height: 68px;
}

.back-btn {
    position: absolute;
    top: 180px;
    left: 52px;
    width: auto;
    height: auto;
}